#TopBar {
  margin: 0;
  background-color: #0a6522;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}

#MiddleSection {
  margin: 0;
  background-color: #f9f9f9;
  height: 700px;
  padding: 3rem;
  
}

#Footer {
  height: 8rem;
  margin: 0;
  background-color: #0a6522;
  text-align: center;
  padding: 20px;
  font-size: 14px;
  color: #ffffff;
}

#FaviconLink {
  display: inline-block; 
  width: 50px; 
  height: 50px; 
  margin-right: 108rem;
}

#Favicon {
  height: 50px;
  margin-right: 108rem;
  cursor: pointer; 
}

#SignUpButton, #SignInButton {
  background-color: #28a745; 
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px; 
  margin: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease; 
}

#SignUpButton:hover, #SignInButton:hover {
  background-color: #218838; 
  transform: translateY(-2px); 
}

#SignUpButton:active, #SignInButton:active {
  transform: translateY(2px); 
}

#H1CSS {
  text-align: center; 
  position: relative;
  left: 20px;   
}

#H1CSS h1 {
  font-family: 'Arial', sans-serif; 
  font-size: 2.5rem; 
  font-weight: bold; 
  color: #218838; 
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2); 
  margin-bottom: 10px; 
}

