#TopBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #07390ad6;
  padding: 20px 0;  
  text-align: center;
  height: 15px;  
}

#SignInButton {
  border-radius: 3px;
}

#SignUpButton {
  border-radius: 3px;
}
