#TopBar {
    margin: 0;
    background-color: #0a6522;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
  }

  #MiddleSection {
    margin: 0;
    background-color: #f9f9f9;
    height: 700px;
    padding: 3rem;
    
  }
  
  #Footer {
    height: 8rem;
    margin: 0;
    background-color: #0a6522;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    color: #ffffff;
  }
  
  #Favicon {
    height: 50px;
    margin-right: 108rem;
    cursor: pointer; 
  }
  
  #LogoutButton{
    background-color: #28a745; 
    color: white;
    border: none;
    padding: 10px 25px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px; 
    margin: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease; 
  }

  #SettingsButton {
    background-color: #28a745; 
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px; 
    margin: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease; 
  }
  
  #LogoutButton:hover, #SettingsButton:hover {
    background-color: #218838; 
    transform: translateY(-2px); 
  }
  
  #LogoutButton:active, #SettingsButton:active {
    transform: translateY(2px); 
  }